:root {
  --vue-easy-stepper-primary-color: #c724f0;
  --vue-easy-stepper-primary-color-contrast: white;

  --vue-easy-stepper-button-hover-color: #b11dd6;

  --vue-easy-stepper-secondary-color: #d8ceda;
  --vue-easy-stepper-secondary-color-contrast: black;
}
